.title1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}
.title2 {
    font-weight: 300;
    font-size: 48px;
}
.title-family {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.link {
    color: aquamarine;
    text-align: center;
}
* {
    background-color: black;
    text-align: center;
}
.h2p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: Gray    
}
.copyright {
    text-align: right;
    color: gray;
}